.dt-cf-success-message,
.dt-cf-error-message {
	margin: 10px 0px;
	padding: 12px;
}

.dt-cf-success-message {
	color: #4f8a10;
	background-color: #dff2bf;
}
.dt-cf-error-message {
	color: #d8000c;
	background-color: #ffd2d2;
}
